[user]
	name = pepo-le
[user]
	email = hello@pepo-le.com
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = vim
    quotepath = false
[alias]
    cm = commit
    ch = checkout
    br = branch
    st = status
    diffn = diff --name-only
[push]
    default = simple
[credential]
	helper = manager-core
